@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

:root {
    --primary-color: #222222;
    --primary-text-color: #ffffff;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Nanum Gothic Coding', monospace;
    
}

.primary-header {
    color: var(--primary-text-color);
    width: 100%;
    background: var(--primary-color);
    padding: 18em;
}

.navbar {
    display: flex;
    
}

