@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*font-family: 'Raleway', sans-serif;
font-family: 'Dawning of a New Day', cursive; */

:root {
  --primary-font: "Raleway", sans-serif;
  --background-color: #121414;
  --primary-font-color: #ffffff;
  --secondary-font-color: #130f40;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background: var(--background-color);
  color: var(--primary-font-color);
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  margin: 0;
}

.hero {
  margin: 10rem;
  padding: 100px 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  position: relative;
}

.hero__text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.hero__content {
  font-size: 8rem;
  font-weight: 300;
  position: absolute;
  z-index: 1;
  margin-top: -15rem;
}

.hero__content .accent {
  font-style: italic;
}

.hero__img {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

.hero__title {
  font-size: 20rem;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  margin-top: -15rem;
  width: 100%;
  text-align: center;
  font-family: 'Dawning of a New Day', cursive;
}

